<div class="container">
	<div class="row pad-bottom-50">
		<div class="col-sm-3"></div>
		<div class="col-sm-7">
				<div class="row">
					<div class="col-sm-12">
						<h2>Articles</h2>
						<% if !@articles.empty? %>
							<% @articles.each do |article| %>
								<div class="pad-top-bottom-10">
								  <p>
								    <strong>Title:</strong>
								    <%= article.title %>
								  </p>
								  <p>
								    <strong>Content:</strong>
								    <%= truncate(article.text, length: 250, omission: "... %s") % link_to('Read more', user_article_path(article.user_id, article.id)) %>
								  </p>
								  <h5 class="list-group-item-headingclass post-info "> 
										<%= article.created_at.strftime("%d %b %y") %>
										<span class="author-name">
											<%= link_to article.user.name, user_articles_path(article.user_id) %>
										</span>
									</h5>
								  <% if @user && @user.id == article.user_id %>
									  <p>
											<%= link_to 'Edit', edit_user_article_path(@user, article) %>
											<%= link_to 'Delete', [article.user, article],
						              method: :delete,
						              data: { confirm: 'Are you sure?' } %>
									  </p>
								  <% end %>
								</div>
							<% end %>
							<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
					  <% else %>
								<div class="main-post-container">
									<div class="list-group-item">
										<p>Unfortunately, there are no articles to show.</p>
									</div>
								</div>
						<% end %>
					</div>
				</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
