<!DOCTYPE html>
<html>
  <head>
    <title>LoginSignup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
      <div id="structure-container">
        <div id="header-container">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Jed Blog</span>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><%= link_to 'Home', root_path %></li>
                  <% if signed_in? %>
                    <li><%= link_to 'Profile', user_articles_path(@current_user) %></li>
                  <% end %>
                </ul>
                <% if signed_in? %>
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <%= link_to 'Log Out', session_path(@current_user),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
                    </li>
  <!--                   <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </li> -->
                  </ul>
                  <p class="navbar-text navbar-right">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Signed in as <%= link_to @current_user.name, user_articles_path(@current_user) %>
                  </p>
                <% else %>
                  <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to 'Register', new_user_path %></li>
                    <li><%= link_to 'Login', new_session_path %></li>
                  </ul>
                <% end %>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
      </div>

      <div id="content-container">
        <%= yield %>
      </div>

      <div id ="footer-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h6>© 2016 Copyright Jedidiah Blog | Powered by <a href="http://jedidiah-portfolio.herokuapp.com/" target="_blank">jedidiah-portfolio</a></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
